.app-browser_close {
  position: absolute;
  top: 6px;
  right: 24px;
  z-index: 1;
  width: 32px;
  height: 32px;

  & button {
    padding: 0;
    background-color: transparent;
    border: none;
    font-size: 24px;
    text-align: center;
    color: #fff;
    cursor: pointer;
  }
}